a{
    display: inline;
    color: rgb(97, 7, 7);
    float: rightt;
    text-align: right;
  }

  nav{
    background-position: ;
    
    float: right;
    width: 1000px;
    left: 500px;
    top: 25px;
    font-size: 150%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
    padding: 8px;
    background-color: #fff;

    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 9vh;
    min-width: fit-content;
  }
  
      img{
    position: absolute;
    width: 220px;
    height: 75px;
    left: 30px;
    top: 18px;
  }

  header {
    position: absolute;
    color: white;
    width: 1880px;
    height: 120px;
    left: -2px;
    top: 0px;
  }

  body{
    background-image: url('bg.png');
  }
